DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/agewell
REDIS_URL=redis://localhost:6379/0
JWT_SECRET=supersecretjwtkeythatshouldbechanged
JWT_REFRESH_SECRET=supersecretrefreshkey
ENVIRONMENT=development
